<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Customers</title>
</head>
<body>

<form th:object="${customer}" th:action="@{/customers/save}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">
    <p>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}" />
    </p>
    <input type="submit" />
</form>

<label>purchased products</label>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    <tr th:each="prod : ${customer.products}">
        <td th:text="${prod.id}">1</td>
        <td th:text="${prod.name}">shirts</td>
        <td th:text="${prod.description}">for men</td>
        <td th:text="${prod.price}">123.00</td>
    </tr>

</table>

<br>
<label>available products</label>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <tr th:each="prod : ${allProducts}">
        <td th:text="${prod.id}">3</td>
        <td><a th:href="@{/customers/buy/{productId}/{customerId}(productId=${prod.id},customerId=${customer.id})}" th:text="${prod.name}"></a></td>
        <td th:text="${prod.price}">123</td>
        <td th:text="${prod.description}">Description</td>
        <td th:text="${prod.category}">Category</td>
    </tr>

</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
