<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
    <ul>

        <li><a th:href="@{/admin/categories/}" th:text="categories">categories</a></li>
        <li><a th:href="@{/products/}" th:text="products">products</a></li>
        <li><a th:href="@{/customers/}" th:text="customers">customers</a></li>
        <li><a th:href="@{/admin/users/}" th:text="users">customers</a></li>
    </ul>
</body>
</html>
